section.section.section__services-page
    .layout.services-page__wrapper
        .heading
            h2.heading__title.heading__title--big.heading__title--left Услуги сервиса МастерКлин24

        .service-menu__wrapper
            .service-menu__item
                h3.service-menu__heading Частным клиентам
                .service-menu__main.service-menu__main--offset
                    .service-menu__main-item
                        a(href="#").service-menu__category Уборка квартир и домов
                        ul.service-menu
                            +listLink('Поддерживающая уборка', '#', 'service-menu__list service-menu__list--active', 'service-menu__link')
                            +listLink('Генеральная уборка', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка после ремонта', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка запущенных квартир', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Антибактериальная уборка', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Влажная уборка', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Эко уборка', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка коттеджа', '#', 'service-menu__list', 'service-menu__link')
                    .service-menu__main-item
                        a(href="#").service-menu__category Дополнительные услуги
                        ul.service-menu
                            +listLink('Мойка окон', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Дезинфекция', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Мытье натяжных потолков', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Мытье холодильника', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Удаление запахов', '#', 'service-menu__list', 'service-menu__link')
                    .service-menu__main-item
                        a(href="#").service-menu__category Уборка территорий
                        ul.service-menu
                            +listLink('Уборка снега', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка листьев', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Покос травы', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Спил деревьев', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Вывоз мусора', '#', 'service-menu__list', 'service-menu__link')
                    .service-menu__main-item
                        a(href="#").service-menu__category Химчистка
                        ul.service-menu
                            +listLink('Химчистка мягкой мебели', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Химчистка ковролина', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Химчистка ковра', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Химчистка штор', '#', 'service-menu__list', 'service-menu__link')

            .service-menu__item
                h3.service-menu__heading Корпоротивным клиентам
                .service-menu__main.service-menu__main--full
                    .service-menu__main-item
                        ul.service-menu
                            +listLink('Уборка  офисов', '#', 'service-menu__list service-menu__list--active', 'service-menu__link')
                            +listLink('Уборка территорий', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка АЗС', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка после ремонта', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка производственных помещений', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка торговых центров', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка кафе и ресторанов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка подъездов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка территорий', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка общественного транспорта', '#', 'service-menu__list', 'service-menu__link')
                    .service-menu__main-item
                        ul.service-menu
                            +listLink('Уборка школ', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка спортзала и фитнес клуба', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка на мероприятии', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка медицинских центров', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка автосервисов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка парковок и паркингов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка складов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка салонов красоты', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка воздушных судов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка ж/д транспорта', '#', 'service-menu__list', 'service-menu__link')
                    .service-menu__main-item
                        ul.service-menu
                            +listLink('Мойка окон', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Мойка фасадов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка снега', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Удаление наледей и сосулек', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка ферм', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка парковок и паркингов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка дестких садов', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка в гостинницах', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Уборка столовых', '#', 'service-menu__list', 'service-menu__link')
                            +listLink('Покос травы', '#', 'service-menu__list', 'service-menu__link')