block variables

include ../blocks/base/mixin
include ../blocks/select/select
include ../blocks/popup/popup
include ../blocks/socials-menu/socials-menu

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="img/favicon/apple-touch-icon.png" type="image/x-icon")
        link(rel="shortcut icon" href="img/favicon/apple-touch-icon-72x72.png" type="image/x-icon")
        link(rel="shortcut icon" href="img/favicon/apple-touch-icon-144x144.png" type="image/x-icon")

        title #{title}
        block scripts

    body
        //a(href="#successful").button.button--small.popup.successful Successful
        block header
            include ../blocks/header/header
            include ../blocks/mobile-menu/mobile-menu
        block content
        block footer
            .height-100
            include ../blocks/footer/footer
            +callMe()
            +successful()
            a(href="#").to-top
                +mixinSvg('50px', '50px', 'icon-to-top', 'to-top__icon')
