mixin socialLink(src, alt)
    a(href="#").socials-menu__link
        +img(src, 'footer__social-link-image', alt)

//.socials-menu
//    +socialLink('img/social-image/telegram.svg', '#2F89CE', 'Social Icon')
//    +socialLink('img/social-image/telegram.svg', '#2F89CE', 'Social Icon')